@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@media screen and (min-width: 992px) {
  nav .btn-cta {
    background-color: #202020;
    padding: 1% 2%;
    color: #ffffff;
    width: 100%;
  }
}

html,
body {
  height: auto;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7a900), to(#FFE600));
  background: linear-gradient(#f7a900, #FFE600);
  background-repeat: no-repeat;
  height: auto;
  -webkit-animation: bg-body 3s ease-in-out infinite alternate;
          animation: bg-body 3s ease-in-out infinite alternate;
}

html.full-height,
body.full-height {
  height: 100vh !important;
}

* {
  font-family: "Titillium Web", sans-serif;
  color: #161616;
  line-height: 1;
}

h1 {
  font-size: 2.35rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.precio-promo {
  text-decoration: line-through;
  font-weight: normal;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33333%;
}

.col-2-sm {
  width: 12.66667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33333%;
}

.col-5-sm {
  width: 37.66667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33333%;
}

.col-8-sm {
  width: 62.66667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33333%;
}

.col-11-sm {
  width: 87.66667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%;
  }
  .col-2 {
    width: 12.66667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33333%;
  }
  .col-5 {
    width: 37.66667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33333%;
  }
  .col-8 {
    width: 62.66667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33333%;
  }
  .col-11 {
    width: 87.66667%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

.font-uppercase {
  text-transform: uppercase;
}

.font-light {
  font-weight: 200;
}

.font-bold {
  font-weight: 700;
}

.font-13rem {
  font-size: 1.3em;
}

.font-15rem {
  font-size: 1.5em;
}

.font-2rem {
  font-size: 2rem;
}

.font-3rem {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.text-orange {
  color: #FF9700;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-block {
  display: block !important;
}

.m-auto {
  margin: auto !important;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
}

.header-bg {
  background-image: url("../img/clip-path.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.header {
  background-image: url("../img/creaty-bg.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.bar-glass {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 0, 0.35)), to(rgba(255, 187, 0, 0.65)));
  background: linear-gradient(90deg, rgba(255, 255, 0, 0.35), rgba(255, 187, 0, 0.65));
  -webkit-box-shadow: 0 8px 32px 0 rgba(102, 85, 12, 0.57);
          box-shadow: 0 8px 32px 0 rgba(102, 85, 12, 0.57);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  -webkit-filter: saturate(3);
          filter: saturate(3);
  border-radius: 30px;
  width: 60px;
  height: 120px;
  position: absolute;
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: up-down 5.5s ease-in-out infinite alternate-reverse;
}

.circle-glass {
  background: -webkit-gradient(linear, left top, right top, from(#ffeb3c31), to(#ebff3a6c));
  background: linear-gradient(90deg, #ffeb3c31, #ebff3a6c);
  -webkit-box-shadow: 0 8px 32px 0 #f79400;
          box-shadow: 0 8px 32px 0 #f79400;
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  -webkit-filter: saturate(3);
          filter: saturate(3);
  border-radius: 100%;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 100px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-animation: up-down 3.5s ease-in-out infinite alternate;
          animation: up-down 3.5s ease-in-out infinite alternate;
}

.circle-glass.target {
  -webkit-animation: gradientMove 3s infinite alternate;
          animation: gradientMove 3s infinite alternate;
  position: absolute;
  z-index: 0;
  width: 300px;
  height: 300px;
  right: 150px;
  top: 0;
}

.circle-glass-blur {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7a900), to(#FFE600));
  background: linear-gradient(#f7a900, #FFE600);
  -webkit-filter: saturate(3);
          filter: saturate(3);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  -webkit-animation: gradientMove 4s infinite alternate ease-in-out;
          animation: gradientMove 4s infinite alternate ease-in-out;
}

.circle-glass-blur.bg-testimonio {
  background: -webkit-gradient(linear, left top, left bottom, from(#f79400), to(#FFD500));
  background: linear-gradient(#f79400, #FFD500);
  width: 400px;
  height: 400px;
  position: absolute;
  right: 50%;
  z-index: 0;
  -webkit-animation: pulse gradientMove 1s infinite alternate ease-in-out;
          animation: pulse gradientMove 1s infinite alternate ease-in-out;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.circle-glass-blur.bg-testimonio.right {
  background: -webkit-gradient(linear, left top, left bottom, from(#f79400), to(#fffb00));
  background: linear-gradient(#f79400, #fffb00);
  width: 200px;
  height: 200px;
  position: absolute;
  right: 10%;
  z-index: 0;
  -webkit-animation: up-down 2s infinite alternate ease-in-out;
          animation: up-down 2s infinite alternate ease-in-out;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.target-section .bg-target {
  position: relative;
  z-index: 0;
  right: 50px;
}

.target-section .people-target {
  position: relative;
  z-index: 3;
  right: 0;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.target-section .img-target {
  max-width: 310px;
  position: relative;
  z-index: 3;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  -webkit-animation: up-down 3.5s ease-in-out infinite alternate;
          animation: up-down 3.5s ease-in-out infinite alternate;
}

.header-image .img-header {
  z-index: 2;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(135, 81, 31, 0.37);
          box-shadow: 0 8px 32px 0 rgba(135, 81, 31, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0 4%;
  -webkit-animation: pulse 4s ease-in-out infinite alternate;
          animation: pulse 4s ease-in-out infinite alternate;
}

.card.instructor {
  -webkit-animation: none;
          animation: none;
  padding: 1%;
  margin-bottom: 5%;
}

.card.instructor .thumbnail {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: auto;
  height: auto;
  border-radius: 100%;
  border: white 6px solid;
  -webkit-box-shadow: 10px 10px 10px rgba(255, 187, 0, 0.95);
          box-shadow: 10px 10px 10px rgba(255, 187, 0, 0.95);
}

.card.static {
  -webkit-animation: none;
          animation: none;
}

.img-responsive {
  width: 100%;
}

.title {
  font-size: 3.5em !important;
  line-height: 0.25em;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5em !important;
    line-height: 1em;
    text-align: right;
  }
}

.subtitle.date {
  text-align: right;
  line-height: 0.5em;
}

.text-white {
  color: #ffffff;
}

section.target-section {
  background-image: url("../img/bg-como-hacer-sitios-web.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

ul.target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul.target li {
  list-style-type: none;
  line-height: 2em;
  font-size: 1.35rem;
}

.bg-temario {
  background-image: url("../img/bg-temario-diseno-web.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.temario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.semanas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

button.btn {
  padding: 5%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
  min-width: 100px;
  border: none;
  outline: none;
  border-radius: 30px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 0 #FF9700;
          box-shadow: inset 0 0 0 0 #FF9700;
  margin: 10px 0;
  cursor: pointer;
}

button.btn:before {
  content: '+';
  margin-right: 10px;
  font-size: 2rem;
  line-height: 0;
  position: relative;
  bottom: -8px;
}

button.btn:hover {
  background-color: #FF9700;
  color: #161616;
  -webkit-box-shadow: inset 500px 0 0 0 #FFD500;
          box-shadow: inset 500px 0 0 0 #FFD500;
}

button.btn.semana1 {
  background-color: #fffb00;
}

button.btn.semana2 {
  background-color: #ffd000;
}

button.btn.semana3 {
  background-color: #f7a900;
}

button.btn.semana4 {
  background-color: #f79400;
}

ul.temas {
  list-style-type: none;
  margin: 10% 0;
}

ul.temas li {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

ul.temas li.title-temas {
  font-size: 1.7rem !important;
  font-weight: 700;
  line-height: 2rem;
}

ul.temas li.title-asesorias {
  text-align: left;
  font-size: 1.7rem !important;
  font-weight: 700;
  line-height: 2rem;
}

.acordeon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contenido {
  padding: 0 18px;
  background-color: #fffb00;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  -webkit-box-shadow: 5px 7px 12px #f7a900;
          box-shadow: 5px 7px 12px #f7a900;
  border-radius: 10px;
  margin-bottom: 5%;
}

.testimoniales {
  margin-top: 5%;
}

.testimonios {
  margin: 5% 0;
}

.testimonios .thumbnail {
  border-radius: 100%;
  max-width: 20%;
  border: #ffffff solid 10px;
  background-color: #ffffff;
}

.testimonios p.info {
  color: #ffffff;
  font-weight: 400;
  line-height: 1em;
  font-size: 1.125em;
  text-shadow: 2px 2px 4px #f7a900;
}

.testimonios h2 {
  line-height: 0;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 0 !important;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a.link.portafolio {
  color: #FF9700;
  text-align: center;
  font-size: 1.2em;
}

a.link.portafolio:hover {
  color: #0c0c0c;
}

.nosotros {
  margin-bottom: 10%;
}

ul.ventajas {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ul.ventajas li {
  font-size: 1.25em;
  padding: 2px 0 20px 35px;
  list-style: none;
  background-image: url("../img/ventajas.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 30px 30px;
  line-height: 1.125em;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn.inscripcion {
  background-color: #0c0c0c;
  text-align: center;
  border-radius: 20px 20px 0 0;
  padding: 10px 15px;
  bottom: 0;
  right: 10%;
  left: 10%;
  margin: auto;
  z-index: 1000;
  width: 200px;
  cursor: pointer;
}

.btn.fixed {
  position: fixed;
}

.btn .call-to-action {
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #FFE600;
}

.btn a {
  max-width: 300px;
}

.btn:hover {
  background-color: #FF5E00;
}

.form {
  position: relative;
  z-index: 100;
  -webkit-animation: none;
          animation: none;
  background-color: white;
  padding: 1% 3%;
  border-radius: 15px;
}

.form .parche {
  background-color: #ffffff;
  backdrop-filter: blur(250px);
  -webkit-backdrop-filter: blur(250px);
  width: 80%;
  height: 50px;
  position: absolute;
  bottom: 34px;
  z-index: 300;
}

.form p {
  line-height: 1em;
  font-size: 1em;
}

@-webkit-keyframes up-down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes up-down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@-webkit-keyframes gradientMove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

@keyframes gradientMove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

@-webkit-keyframes bg-body {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@keyframes bg-body {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

a {
  font-weight: bolder;
  color: white;
  display: block;
  margin: auto;
  max-width: 200px;
  text-decoration: none;
}

a.btn-cta {
  border-radius: 10px;
  padding: 3% 7%;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

a.btn-cta.black {
  background-color: #161616;
}

a.btn-cta.black:hover {
  background-color: #0c0c0c;
}

.text-important {
  font-weight: bolder;
  color: #f79400;
}

.mb-1 {
  margin-bottom: 1%;
}

.mb-2 {
  margin-bottom: 2%;
}

.mb-3 {
  margin-bottom: 3%;
}

.mb-4 {
  margin-bottom: 4%;
}

.mb-5 {
  margin-bottom: 5%;
}

.mt-1 {
  margin-top: 1%;
}

.mt-2 {
  margin-top: 1%;
}

.mt-3 {
  margin-top: 1%;
}

.mt-4 {
  margin-top: 1%;
}

.mt-5 {
  margin-top: 1%;
}

.pt-1 {
  padding-top: 1%;
}

.pt-2 {
  padding-top: 1%;
}

.pt-3 {
  padding-top: 1%;
}

.pt-4 {
  padding-top: 1%;
}

.pt-5 {
  padding-top: 1%;
}

.card.static.minHeight-400 {
  min-height: 490px;
}
/*# sourceMappingURL=main.css.map */