.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
}

.header-bg {
    // background: linear-gradient(90deg, rgba(255, 162, 0, 1) 0%, rgba(255, 197, 0, 1) 100%);
    // clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 48% 100%, 22% 79%, 0% 99%);
    background-image: url('../img/clip-path.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-image: url('../img/creaty-bg.svg');
    background-size: 55% 100%;
    background-repeat: no-repeat;
    background-position: 100% 10%;
}

.bar-glass {
    background: linear-gradient(90deg, rgba(255, 255, 0, .65), rgba(255, 187, 0, 0.65));
    box-shadow: 0 8px 32px 0 rgba(102, 85, 12, 0.57);
    backdrop-filter: blur( 12.5px);
    -webkit-backdrop-filter: blur( 12.5px);
    filter: saturate(3);
    border-radius: 30px;
    width: 60px;
    height: 120px;
    position: relative;
    right: 100px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    animation: up-down 2.5s ease-in-out infinite alternate;
}

.circle-glass {
    background: linear-gradient(90deg, #ffeb3c31, #ebff3a6c);
    box-shadow: 0 8px 32px 0 rgba(102, 85, 12, 0.57);
    backdrop-filter: blur( 12.5px);
    -webkit-backdrop-filter: blur( 12.5px);
    filter: saturate(3);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 100px;
    z-index: 1;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    animation: up-down 3.5s ease-in-out infinite alternate;
    &.target {
        animation: gradientMove 3s infinite alternate;
        position: absolute;
        z-index: 0;
        width: 300px;
        height: 300px;
        right: 150px;
        top: 0;
    }
}

.circle-glass-blur {
    background: linear-gradient(#ffffffaf, #ffee0081);
    filter: saturate(3);
    backdrop-filter: blur( 12.5px);
    -webkit-backdrop-filter: blur( 12.5px);
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    animation: gradientMove 4s infinite alternate ease-in-out;
}

.target-section {
    & .bg-target {
        position: relative;
        z-index: 0;
        right: 50px;
    }
    & .people-target {
        position: relative;
        z-index: 2;
        right: 0;
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: center;
    }
    & .img-target {
        max-width: 320px;
        position: relative;
        z-index: 3;
    }
}

.header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
    & .img-header {
        z-index: 2;
    }
}

.card {
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(135, 81, 31, 0.37);
    backdrop-filter: blur( 12.5px);
    -webkit-backdrop-filter: blur( 12.5px);
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 0 4%;
    animation: pulse 4s ease-in-out infinite alternate;
    &.instructor {
        animation: none;
        min-height: 210px;
        padding: 3%;
        & .thumbnail {
            width: 100%;
            height: auto;
            border-radius: 100%;
            border: white 6px solid;
            box-shadow: 10px 10px 10px rgba(255, 187, 0, 0.95);
        }
    }
}

.img-responsive {
    width: 100%;
}

.title {
    font-size: 3.5em !important;
    line-height: 0.25em;
}

.subtitle {
    &.date {
        text-align: right;
        line-height: 0.5em;
    }
}

.text-white {
    color: $white;
}

section {
    &.target-section {
        background-image: url('/img/bg-como-hacer-sitios-web.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
}

ul.target {
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    & li {
        list-style-type: none;
    }
}

// TEMARIO
.bg-temario {
    background-image: url('/img/creaty-bg.svg');
    background-size: cover;
}

.temario {
    display: flex;
    align-items: center;
}

.semanas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    &.btn {
        padding: 5%;
        font-family: $main-font;
        font-weight: $font-weight-heavy;
        font-size: 1.35rem;
        min-width: 200px;
        border: none;
        outline: none;
        border-radius: 30px;
        transition: ease-out 1s;
        outline: none;
        box-shadow: inset 0 0 0 0 $yellow1;
        margin: 10px 0;
        &:before {
            content: '+';
            margin-right: 10px;
            font-size: 2rem;
            line-height: 0;
        }
        &:hover {
            background-color: $yellow1;
            color: $dark-grey;
            box-shadow: inset 300px 0 0 0 $yellowEgg;
        }
        &.semana1 {
            background-color: $yellowLemon;
        }
        &.semana2 {
            background-color: $orange2;
        }
        &.semana3 {
            background-color: $orange3;
        }
        &.semana4 {
            background-color: $orange;
        }
    }
}

ul.temas {
    & li.title {
        font-size: 1.5rem;
        font-weight: $font-weight-regular;
    }
}

// ANIMATIONS
@keyframes up-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes gradientMove {
    from {
        transform: rotate(0deg);
        filter: blur(0);
    }
    to {
        transform: rotate(360deg);
        filter: blur(10px);
    }
}

// LINKS
a {
    font-weight: bolder;
    color: white;
    display: block;
    margin: auto;
    max-width: 200px;
    text-decoration: none;
    &.btn-cta {
        border-radius: 10px;
        padding: 3% 7%;
        font-family: $main-font;
        text-align: center;
        &.black {
            background-color: $dark-grey;
            &:hover {
                background-color: $black;
            }
        }
    }
}