// neutros
$white:#ffffff;
$darkgrey:#242424;
$mediumgrey:#8A8A8A;
// Orange
$orange:#FF5E00;
// Yellow
$yellow1:#FF9700;
$yellowBird:#FFE600;
$yellowEgg: #FFD500;
// GREYS
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans